<div class="w-4/12 m-auto mt-20 text-center">
  <h2 class="text-5xl font-bold mb-3">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: 'text-left' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full" %>
    </div>

    <div class="field">
      <%= f.label :password , class: 'text-left'%>
      <% if @minimum_password_length %>
      <em class="block text-left">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: 'text-left'%>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'bg-black text-white w-full py-3' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>