<div id="<%= dom_id category %>" class="flex justify-between items-center border-b py-2.5">
  <% if action_name != "show" %>
    <%= link_to category.category, category, class: "w-8/12 text-xl" %>
  <% else %>
    <h2 class="text-xl"><%= category.category %></h2>
  <% end %>

  <div>
  <% if action_name != "show" %>
  <%= link_to 'Edit', edit_category_path(category), class: "rounded-lg py-3 px-5 bg-gray-100 inline font-medium" %>
  <%= button_to 'Delete', category_path(category), method: :delete, class: "rounded-lg py-3 px-5 ml-2 bg-gray-100 font-medium inline" %>
  <% end %>
  </div>
</div>

<% if action_name == "show" %>
  <table class="mt-2.5">
    <tbody>
      <% category.tasks.each do |task| %>
        <tr>
         
          <td>
            <%= check_box "check", task.id, {checked: task.completed} %>
          </td>
          <td><%= task.title %></td>
          <td><%= task.details %></td>
        </tr>
      <% end %>
    <tbody>
  </table>
  <%= link_to 'Create a new task', new_category_task_path(category.id) %>
  <%= link_to 'Back to categories', categories_path, class: "mt-5 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<% end %>