<div>
  <div>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="border-b py-3 flex justify-between items-baseline">
      <h2 class="text-xl"><%= @category.category %></h2>
      <div>
        <%= link_to 'Create a new task', new_category_task_path(@category.id), class: "rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
        <%= link_to 'Back to categories', categories_path, class: "mt-5 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
    </div>

    <div class="flex justify-between mt-5 items-baseline">
      <div>
        <h3 class="rounded-lg py-3 px-5 bg-gray-100 font-medium">No Date</h3>
        <% @no_date.each do |task| %>
          <ul class="mt-2.5 list-inside">
            <li class="list-disc"><%= link_to task.title, category_task_path(task.category_id, task.id) %></li>
          </ul>
        <% end %>
      </div>
      <div>
        <h3 class="rounded-lg py-3 px-5 bg-blue-300 font-medium inline-block">Upcoming</h3>
        <% @upcoming.each do |task| %>
          <ul class="mt-2.5 list-inside">
            <li class="list-disc"><%= link_to task.title, category_task_path(task.category_id, task.id) %></li>
          </ul>
        <% end %>
      </div>
      <div>
        <h3 class="rounded-lg py-3 px-5 bg-yellow-300 font-medium inline-block">This week</h3>
        <% @this_week.each do |task| %>
          <ul class="mt-2.5 list-inside">
            <li class="list-disc"><%= link_to task.title, category_task_path(task.category_id, task.id) %></li>
          </ul>
        <% end %>
      </div>
      <div>
        <h3 class="rounded-lg py-3 px-5 bg-orange-300 font-medium inline-block">Today</h3>
        <% @today.each do |task| %>
          <ul class="mt-2.5 list-inside">
            <li class="list-disc"><%= link_to task.title, category_task_path(task.category_id, task.id) %></li>
          </ul>
        <% end %>
      </div>
      <div>
        <h3 class="rounded-lg py-3 px-5 bg-red-300 font-medium inline-block">Overdue</h3>
        <% @overdue.each do |task| %>
          <ul class="mt-2.5 list-inside">
            <li class="list-disc"><%= link_to task.title, category_task_path(task.category_id, task.id) %></li>
          </ul>
        <% end %>
      </div>
      <div>
      <h3 class="rounded-lg py-3 px-5 bg-green-300 font-medium inline-block">Done</h3>
      <% @done.each do |task| %>
        <div class="mt-2.5">
          <%= check_box "check", task.id, {checked: task.completed} %>
          <%= link_to task.title, category_task_path(task.category_id, task.id) %>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
